DATA
.venv
1.DataProcessing/DATASETS
1.DataProcessing/model_architecture/models
2.Testing/.Rhistory
4.FullPipeline/__pycache__
4.FullPipeline/corrina_experiment/image_shredder.py
4.FullPipeline/corrina_experiment/images
6.Neural_Collapse/
__pycache__
*.RData
*.Rhistory
__pycache__